#game-world {
    position: relative;
}

.game-cell {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.game-cell.grass {
    background: green;
}
.game-cell.wall {
    background: grey;
}

.character {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background: red;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: left 0.3s ease-in-out,
        top 0.3s ease-in-out;
}

.character.player {
    background: blue;
}
.character.enemy {
    background: red;
}

.character.dead {
    background: darkgrey;
    z-index: 0;
}

.item {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;

    width: 24px;
    height: 24px;
    margin: 4px 0 0 4px;

    background: lightgrey;
}
.item.sword {
    background: silver;
}

#inventory {
    border: 1px solid grey;
    display: inline-block;

    background: lightgrey;
    margin: 6px;
    padding: 6px;
}

.inv-slot {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: white;
    margin: 6px;

    cursor: pointer;
}
.inv-slot:hover {
    background: #efefef;
}

.inv-slot .item {
    position: static;
}

#player-hand {
    position: absolute;
    z-index: 10;
}

#weapon-slot:before {
    content: "Weapon";
    position: absolute;
    color: grey;
    font-size: 8px;
}
#armour-slot:before {
    content: "Armour";
    position: absolute;
    color: grey;
    font-size: 8px;
}
