# =============== #
# Unity generated #
# =============== #
Temp/
Library/metadata

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.db
*.mdb

# ============= #
# Vim generated #
# ============= #
*.swp
*.swo
.undodir
.ctrlp

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
